body{
    background-color: rgb(188 188 214);
    height: 95vh;
    overflow-y:scroll;
    scrollbar-width:0px;
    -ms-overflow-style: none;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Satisfy", cursive;
    padding: 1rem 2rem 0 0px;
    color: floralwhite;
    border-bottom: 1px solid floralwhite;
}
.name{
    width: 100%;
    font-size: 4rem;
    text-align: center;
}
.link{
    text-decoration: none;
    background-color: floralwhite;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    color: rgb(180, 111, 180);
}
.login{
    margin-top: 1.5rem;
}
.container{
    padding: 2rem;
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows:1fr;
}
.getting-started{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.heading{
    text-align: center;
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    color: floralwhite;
    margin-bottom: 2rem;
}
.para{
    color: aliceblue;
    font-size: 1.4rem;
}
.start{
    align-self:center;
    text-decoration: none;
    font-size: 2rem;
    background-color: aliceblue;
    padding:0.7rem 1rem;
    border-radius: 2rem;
}
.start:hover,.link:hover{
    background-color: rgb(188 188 214);
    color: aliceblue;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100%;
    box-shadow: 0 0 2rem 1rem rgb(233, 237, 241);
    border-radius: 3rem;
    height: 100%;
}


@media(max-width: 1250px){
    .container{
        grid-template-columns: 1fr 1.25fr;
    }
}
@media(max-width: 1125px){
    .container{
        grid-template-columns:1fr 1fr;
    }
}
@media(max-width:1010px){
    .container{
        grid-template-columns: 1fr 0.75fr;
    }
    .image{
        height: 70%;
    }
}
@media(max-width:900px){
    .para{
        font-size: 1.2rem;
    }
}
@media(max-width:750px){
    .container{
        grid-template-columns: 1fr;
    }
    .img{
        display: none;
    }
}
@media(max-width:600px){
    .name{
        font-size: 3rem;
        text-align: left;
        padding-left: 2rem;
    }
    .login{
        margin-top: 1rem;
    }
    .link{
        font-size: 1.5rem;
    }
    .getting-started{
        justify-content: flex-start;
    }
    
}
@media(max-width:500px){
    .heading{
        font-size:2rem
    }
    .para{
        font-size: 1rem;
    }
    .start,.link{
        font-size: 1.25rem;
    }
    .login{
        margin: 0;
    }
    .name{
        font-size:2.5rem;
    }
    .navbar{
        padding: 0;
    }
}
@media(max-width:350px){
    .name{
        font-size: 2rem;
    }
    .start,.link{
        font-size: 1rem;
    }
    .para{
        font-size: 0.8rem;
    }
    .heading{
        font-size: 1.5rem;
    }
    .container{
        padding:0;
    }
}
@media(max-width:300px){
    .name{
        font-size: 1.5rem;
        padding-left:0.75rem;
    }
    .link{
        padding:0.5rem 1rem ;
    }
    .start,.link{
        font-size: 0.8rem;
    }
    .para{
        font-size: 0.7rem;
    }
    .heading{
        font-size: 1.2rem;
    }
}
@media(max-width:202px){
    .heading{
        font-size: 1rem;
    }
}