body{
    background-color: rgb(188 188 214);
    overflow-y: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    height: 90vh;
}
body::-webkit-scrollbar{
    display: none;
}
.locals-mssg{
    display: flex;
    justify-content: center;
}
.locals-box{
    width: 33%;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border: 1px solid floralwhite;
    border-top: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.chitchat{
    font-size: 4rem;
    font-family: "Satisfy", cursive;
    text-align: center;
    margin: 1rem 0 0 0;
    color: floralwhite;
}
.heading{
    /* font-size: 4rem; */
    text-align: center;
    height: 4rem;
    justify-self: center;
}
.box{
    display:grid;
    grid-template-rows: 1fr 5fr 2fr;
    grid-template-columns: 2fr 4fr 2fr;
    height: 90%;
}
.container{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 1fr 1.35fr;
    grid-template-rows: 1fr;
    border-radius: 2rem;
    padding-bottom: 1rem;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.post-heading{
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    margin: 1rem;
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    background-color:rgb(242, 211, 250) ;
}
.upload{
    margin: 1rem;
    padding: 1rem; 
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    background-color:rgb(242, 211, 250) ;
}
.input:focus{
    outline: none ;
}
.submit{
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    background-color: rgb(158, 130, 215);
    color: white;
}
#img{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


@media(max-width:1030px){
    .box{
        grid-template-columns: 1.5fr 5fr 1.5fr;
    }
}
@media(max-width:750px){
    .box{
        grid-template-columns: 1fr 6fr 1fr;
    }
}
@media(max-width:600px){
    .box{
        grid-template-columns:0.5fr 7fr 0.5fr;
    }
}
@media(max-width:500px){
    .box{
        grid-template-columns: 1fr 4fr 1fr;
    }
    .container{
        grid-template-columns: 1fr;
    }
    #img{
        display: none;
    }
    .login{
        border-radius: 2rem;
    }
}
@media(max-width:350px){
    .box{
        grid-template-columns: 0.25fr 2fr 0.25fr;
        grid-template-rows: 0.5fr 5fr 2fr;
    }
    .chitchat{
        font-size: 3rem;
    }
    .post-heading{
        font-size: 2rem;
    }
}
@media(max-width:250px){
    .chitchat{
        font-size:2rem;
    }
    .box{
        grid-template-rows: 0.5fr 5fr 3fr;
        grid-template-columns: 0.25fr 4fr 0.25fr ;
    }
    .login{
        justify-content: flex-start;
    }
    .input{
        padding: 0.5rem;
        font-size: 0.75rem;
        margin: 0.75rem;
        width: 70%;
    }
    .heading{
        padding-top: 2rem;
    }
    .have{
        font-size: 0.5rem;
    }
}
@media(max-width:170px){
    .chitchat{
        font-size: 1.5rem;
    }
    .form a{
        font-size: 0.7rem;
    }
    .submit{
        font-size: 0.8rem;
    }
    .have{
        font-size: 0.5rem;
    }
}
@media(max-width:140px){
    .chitchat{
        font-size:1.25rem;
    }
    .submit{
        font-size: 0.75rem;
    }
}
@media(max-height:650px){
    .box{
        grid-template-rows: 0.5fr 7fr 2fr;
    }
}