body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr 3fr 1fr;
}
body::-webkit-scrollbar{
    display: none;
}
.purple {
    grid-area: 1/1/3/5;
    width: 100vw;
    background-color: #ab70e3;
}

.white {
    grid-area: 3/1/7/5;
    background-color: white;
}

.container {
    position: relative;
    grid-area: 2/3/5/4;
    background-color: floralwhite;
    box-shadow: 0 0 2rem 1rem rgb(174, 171, 171);
    border-radius: 3rem;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
}

.info {
    position: relative;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    position: relative;
    top: -1.5rem;
    border-radius: 100%;
    height: 9rem;
    width: 9rem;
}

.username {
    margin: 0;
    font-size: 2rem;
}

.name {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.bio {
    margin-top: 00;
    font-size: 1rem;
}

.posts {
    height: 100%;
    grid-row: 2/3;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.posts::-webkit-scrollbar {
    display: none;
}

.posts-div {
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.posts-div::-webkit-scrollbar {
    display: none;
}

.post {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.more {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 3rem;
    z-index: 4;
}

.icon {
    font-size: 2rem;
    padding: 10px;
}

.options {
    position: absolute;
    top: 6rem;
    left: -1rem;
    border: 1px solid grey;
    width: 6rem;
    border-radius: 1rem;
    padding: 0.5rem;
    visibility: hidden;
}

.options div {
    margin: 0.3rem;
}

a {
    text-decoration: none;
    color: grey;
}


@media(max-width:1200px){
    body{
        grid-template-columns: 0.25fr 0.25fr 4fr 0.5fr;
    }
}
@media(max-width:900px){
    .posts{
        grid-template-columns: 0.5fr 3fr 0.5fr ;
    }
}
@media(max-width:500px){
    .post{
        height: 4rem;
        width: 4rem;
    }
}
@media(max-width:400px){
    .img{
        height:8rem;
        width: 8rem;
        top: -2rem;
    }
    .more{
        right: -2.4rem;
    }
}