<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/gettingStarted.css">

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="name">Chit-Chat</div>
        <div class="login"><a href="/Login" class="link">Login</a></div>
    </div>
    <div class="container">
        <div class="getting-started">
            <div class="heading">Chatting-website</div>
            <p class="para">Welcome to my live chatting website!.This project was created as a part of my journey in learning web development,combining both front-end and back-end technologies to enable real-time communication between users.As a second-ear Computer Science Engineering student at Maharaja Surajmal Institute of Technology ,I built this platform to enhance my skills in creating interactive ,user-friendly applications. I hope you enjoy exploring it as much as I enjoyed creating it.</p>
            <a href="/Signup" class="start">Start</a>
        </div>
        <div class="img">
            <img src="/images/IMG_20241026_134401.jpg" alt="" class="image">
        </div>
    </div>

</body>

</html>