<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat_web</title>
</head>
<link rel="stylesheet" href="./style/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<!-- font  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap" rel="stylesheet">
<body>
    <p class="chitchat">CHIT-CHAT</p>
    <div class="container">

<!-- navbar -->

        <div class="navbar boxes">
            
            <!-- home -->
            <a href="#"><i class="fa-solid fa-house icon"></i></a>
            <!-- stories/status -->
            <a href="#"><i class="fa-solid fa-comment icon"></i></a>
            <!-- archived chats -->
            <a href="#"><i class="fa-solid fa-folder-plus icon"></i></a>
            <!-- pinned chats -->
            <a href="#"><i class="fas fa-thumbtack icon"></i></a>
            <!-- starred message -->
             <a href="#"><i class="fa-solid fa-star icon"></i></a>
            <!-- settings -->
            <a href="#"><i class="fa-solid fa-gear icon"></i></a>
        </div>

<!-- contacts/chats -->

        <div class="contacts boxes">
            <div class="contacts-heading">
                <p class="heading-chat">Chats</p>
                <p class="new-chat"><i class="fa-solid fa-circle-plus icon new"></i> </p>
            </div>

            <hr>

            <div class="contact">
                <img src="./images/no_profile.PNG" alt="" class="contact-img">
                <div class="contact-description">
                    <p class="contact-name">rahul</p>
                    <p class="contact-mssg">hello</p>
                </div>
            </div>

            <div class="chat"></div>
        </div>
        <div class="chatbox boxes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, dignissimos?</div>
    </div>
</body>
</html>