<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../public/style/myProfile.css">
</head>

<body>
    <div class="purple"></div>
    <div class="white"></div>
    
    <div class="container">
        <div class="more">
            <i class="fa-solid fa-ellipsis-vertical icon"></i>
            <div class="options">
                <div>change info</div><hr>
                <div>create post</div>
            </div>
        </div>
        <div class="info">
            <img src="../public/images/no_profile.PNG" alt="" class="img">
            
            <h1 class="username">terror_devilx</h1>
            <p class="name">nishant</p>
            <p class="bio">Radhe Radhe</p>
        </div>


        <div class="posts">
            <div class="posts-div">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
                <img src="../public/images/no_profile.PNG" alt="" class="post">
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/js/myProfile.js"></script>
</body>

</html>