<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_post</title>

    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap" rel="stylesheet">

    <style>
        body {
            height: 90vh;
        }

        .box {
            height: 80vh;
        }

        .login {
            grid-area: 1/1/2/3;
            border-radius: 2rem;
        }
        .post-heading{
            font-family: "Satisfy", cursive;
            font-size: 3rem;
            text-align: center;
            margin-top: 0;
        }
    </style>

</head>

<body>
    <p class="chitchat">CHIT-CHAT</p>
    <div class="box">
        <div class="container">
            <div class="login">
                <h1 class="post-heading">create post</h1>
                <form method="post" action="/profile/post/<%=usrId%>" enctype="multipart/form-data">
                    <div class="form">
                        <label for="file-input" class="input" name="post"><i class="fa-solid fa-upload"></i></label>
                        <input type="file" name="posts" id="file-input" style="display:none;">
                        <input placeholder="caption" type="text"  class="input" name="caption">
                        <button class="submit">Post</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</body>

</html>